<app-generic-list [list]="movies">
  <ng-container empty>
    <p>There are no <span class="red">movies</span> to display.</p>
  </ng-container>
  <ng-container content>
    <ul>
      <li *ngFor="let movie of movies; let index = index" class="movie-container">
        <div class="d-flex">
          <p>Title {{ index }}: {{ movie.title }}</p>
          <button (click)="remove(index)" class="remove-btn">Remove</button>
        </div>
        <p>Launch date: {{ movie.launchDate | date:"dd-MMMM-yyyy" | uppercase }}</p>
        <p>Price: {{ movie.price | currency }}</p>
      </li>
    </ul>
  </ng-container>
</app-generic-list>