<app-navbar [langKey]="lang" (newLangSelected)="handleLangChange($event)"></app-navbar>

<div class="container">
  <ng-container *ngIf="homeSections.length">
    <section *ngFor="let section of homeSections" class="home-section {{section.name}}-section" [ngClass]="section.name">
      <p class="badge">{{ section.Label | uppercase }}</p>
      <h2>{{ section.Title }}</h2>
      <div [ngSwitch]="section.name" class="section-cards-list">
        <ul *ngSwitchCase="'how'">
          <li *ngFor="let how of section.home_hows" class="how-card">
            <app-descriptive-card [title]="how.Title" [image]="how.Image"
              [description]="how.Description"></app-descriptive-card>
          </li>
          </ul>
          
          <ul *ngSwitchCase="'tech'">
            <li *ngFor="let technology of section.home_technologies" class="tech-card">
              <app-simple-card [title]="technology.Name" [image]="technology.Image"></app-simple-card>
            </li>
          </ul>
        <div *ngSwitchDefault></div>
      </div>
    </section>
  </ng-container>
</div>
