.descriptive-card {
  .image {
    width: 55px;
  }

  h3 {
    padding: 1.5rem 0;
    margin: 0;
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
  }

  .card-text {
    color: #4F4F6B;
    font-weight: 500;
    line-height: 22px;
  }
}